{
    "extends": "stylelint-config-standard",
    "rules": {
        "indentation": "tab",
        "color-no-invalid-hex": true,
        "no-descending-specificity": null,
        "no-duplicate-selectors": null,
        "declaration-block-semicolon-newline-after": "always-multi-line",
        "declaration-block-single-line-max-declarations": 9,
        "declaration-colon-space-after": "always",
        "declaration-empty-line-before": [
            "never",
            { "ignore": ["after-declaration", "first-nested", "inside-single-line-block"] }
        ],
        "rule-empty-line-before": [
            "always",
            { "ignore": ["first-nested", "inside-block"] }
        ],
        "selector-list-comma-newline-after": "always-multi-line"
    }
}
