/**
 *
 * @copyright  2019-2021 objectivejs.org
 * @version    8
 * @link       http://www.objectivejs.org
 */

/* objectivejs.css */

.ojs {
	margin-bottom: 1em;
}

@media print {
	.ojs {
		display: none;
	}
}

.ojs > div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: flex-start;
	margin: 10px 0;
}

.ojs > div > div,
.ojs > div > span {
	margin-right: 10px;
	line-height: 14px;
}

.ojs label.sepia {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: #fca linear-gradient(#fca, #a86);
}

.ojs label.grayscale {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: #ccc linear-gradient(#ccc, #666);
}

.ojs input[type=range] {
	width: 60px;
	outline: none;
	-webkit-appearance: none;
	vertical-align: middle;
	background: transparent;
}

.ojs input[type=range]:focus {
	outline: none !important;
}

.ojs input[type=range]::-moz-focus-outer {
	border: 0;
}

.ojs input[type=range]::-webkit-slider-runnable-track {
	width: 60px;
	height: 8px;
	background: #ccc;
	border-radius: 4px;
	border: none;
	margin-top: -2px;
}

.ojs input[type=range]::-webkit-slider-thumb {
	width: 12px;
	height: 12px;
	background: #666;
	border-radius: 6px;
	border: none;
	-webkit-appearance: none;
	margin-top: -2px;
}

.ojs input[type=range]::-moz-range-track {
	width: 60px;
	height: 8px;
	background: #ccc;
	border-radius: 4px;
	border: none;
}

.ojs input[type=range]::-moz-range-thumb {
	width: 12px;
	height: 12px;
	background: #666;
	border-radius: 6px;
	border: none;
}

.ojs input[type=range]:disabled::-webkit-slider-thumb {
	background: #ccc;
}

.ojs input[type=range]:disabled::-moz-range-thumb {
	background: #ccc;
}

.ojs input[type=range] .rangeslider {
	width: 60px;
	height: 8px;
	background: #ccc;
	border-radius: 4px;
	border: none;
}

.ojs input[type=range] .rangethumb {
	width: 12px;
	height: 12px;
	background: #666;
	border-radius: 6px;
	border: none;
}

.ojs_button {
	color: #333;
	background: #eee;
	border-radius: 3px;
	text-indent: 0;
}

.ojs_button {
	width: 40px;
	height: 30px;
}

.ojs_button.tiny {
	width: 22px;
	height: 22px;
}

.ojs_button.round {
	border-radius: 50%;
}

.ojs_button.inerror {
	color: #f66;
}

.ojs_button:disabled {
	color: #fff;
	cursor: default;
}

.ojs_button {
	box-shadow: 1px 2px 5px #ccc;
}

.ojs_button {
	background: #ccc linear-gradient(#eee, #ccc);
}

.ojs output {
	font-size: small;
	color: #666;
}

.ojs_undo {
	margin-right: 10px;
}

.ojs_size,
.ojs_width,
.ojs_height {
	width: 4em;
}

.ojs_duration,
.ojs_interval {
	width: 3em;
}

.ojs_delay {
	width: 2em;
}

.ojs_video {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	background: black;
}

.ojs_audio {
	display: flex;
	align-items: center;
	margin: 1em 0;
}

.ojs_audio .disabled {
	color: #ccc;
	cursor: default !important;
}

.ojs_audio .off {
	color: #ccc;
}

.ojs_audio .audioplay,
.ojs_audio .audiopause,
.ojs_audio .audioloop {
	cursor: pointer;
}

.ojs_audio .audiocontrols {
	display: flex;
	align-items: center;
}

.ojs_audio .audiotime {
	font-size: small;
	font-weight: bold;
	margin-left: 4px;
}

.ojs_audio .audioloop {
	margin-left: 4px;
}

.ojs_audio .audiobar {
	-webkit-appearance: none;
	width: 100px;
	outline: none;
	margin-left: 4px;
	background: transparent;
}

.ojs_audio .audiobar:focus {
	outline: none !important;
}

.ojs_audio .audiobar::-moz-focus-outer {
	border: 0;
}

.ojs_audio .audiobar::-webkit-slider-runnable-track {
	width: 100px;
	height: 16px;
	background: #ccc;
	border: none;
	border-radius: 8px;
}

.ojs_audio .audiobar::-webkit-slider-thumb {
	width: 24px;
	height: 24px;
	background: #333;
	border-radius: 12px;
	border: none;
	-webkit-appearance: none;
	margin-top: -4px;
}

.ojs_audio .audiobar::-moz-range-track {
	width: 100px;
	height: 16px;
	background: #ccc;
	border: none;
	border-radius: 8px;
}

.ojs_audio .audiobar::-moz-range-thumb {
	width: 24px;
	height: 24px;
	background: #333;
	border-radius: 12px;
	border: none;
}

.ojs_audio .audiobar:disabled::-webkit-slider-thumb {
	background: #ccc;
}

.ojs_audio .audiobar:disabled::-moz-range-thumb {
	background: #ccc;
}

.ojs_audio .audiobar .audioslider {
	width: 100px;
	height: 16px;
	background: #ccc;
	border: none;
	border-radius: 8px;
}

.ojs_audio .audiobar .audiothumb {
	width: 24px;
	height: 24px;
	background: #333;
	border-radius: 12px;
	border: none;
}

.ojs_audio .recordstart,
.ojs_audio .recordstop,
.ojs_audio .fileload,
.ojs_audio .audiodelete,
.ojs_audio .audioupload {
	cursor: pointer;
}

.ojs_audio .mediacontrols {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ojs_audio .mediacontrols > * {
	margin-left: 4px;
}

.ojs_audio .mediastatus {
	font-size: small;
	font-weight: bold;
	text-align: center;
	margin-left: 2px !important;
}

.ojs_audio .mediafile {
	display: none;
}

@media screen and (max-width: 480px) {
	.ojs_audio {
		flex-direction: column;
		align-items: flex-start;
	}
	.ojs_audio .mediacontrols {
		margin-left: 30px;
	}
}

.ojs_playlist {
	font-weight: bold;
	display: inline-block;
	margin: 0;
}

.ojs_playlist li {
	margin-bottom: 0.5em;
}

.ojs_playlist li span {
	cursor: pointer;
}

.ojs_playlist li span:hover,
.ojs_playlist li span.selected {
	color: #ccc;
}

.ojs_wall {
	display: flex;
	min-height: 160px;
	margin: 1em 0;
}

.ojs_wall .disabled {
	color: #ccc;
	cursor: default !important;
}

.ojs_wall .tags {
	flex: 100%;
}

.ojs_wall img {
	display: inline;
	margin: 0 5px 5px 0;
	vertical-align: top;
	cursor: pointer;
	max-width: 180px;
}

.ojs_wall img.selected {
	opacity: 0.5;
}

.ojs_wall .fileupload,
.ojs_wall .filedelete,
.ojs_wall .filedownload {
	cursor: pointer;
}

.ojs_wall .filecontrols {
	flex: 0 0 auto;
	padding: 5px 0;
}

.ojs_wall .filecontrols > * {
	display: block;
	margin: 0 auto 16px;
}

.ojs_wall .filestatus {
	font-size: small;
	font-weight: bold;
	text-align: center;
}

.ojs_wall .fileinput {
	display: none;
}

@media screen and (max-width: 480px) {
	.ojs_wall img {
		max-width: 100px;
	}
}
